html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}


blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

/* change colours to suit your needs */

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;   
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}




body {
    line-height:1;
    width: 100%;
    background-color: #DB5461;
    z-index: -1
}

#logo {
    position: relative;
    width:146px;
    height: 50px;
    left: 82px;
    top: 75px
}

nav ul{
    float: right;
    width: auto;
    list-style:none; 
    margin: 40px 36px 0 0;
    padding: 0 24px 0 24px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-family: Avenir black;
    font-size: 19px;
    letter-spacing: 0.5;
    color: #30343F
}

li {
    display: block;
    float: right;
    text-align: center;
    padding: 16px 10px 10px 10px;

}

.left-side h1 {
    font-family: Avenir black;
    color: white;
    font-size: 19px;
    letter-spacing: 0.5;
    font-size: 35px;
    line-height: 52px
}

.left-side{
    top: 250px;
    margin-left: 92px;
    text-align: left;
    display: block;
	position: absolute;
    text-transform: uppercase;
    vertical-align: middle

}

button {
    text-transform: uppercase;
    padding: 12px 32px 12px 32px;
    border-radius: 40px;
    background-color: white;
    color: #30343F;
    border: 5px solid #30343F; 
    margin-top: 64px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    font-family: Avenir Black;
    font-size: 20px;
    

}

.right-side {
    top: 0;
    position: absolute;
    overflow: hidden;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%,60% 100%);
    z-index: -1;
    }

.right-side img {
    width: 60%;
    height: auto;
    position: relative;
    left: 50%;
    bottom: 0


}

footer{
    background-color: #30343F;
    width: 100%;
    padding: 42px;
    position: fixed;
    bottom: 0;
    color: white;
    text-align: left;
}

.column-footer {
    float: left;
    width: 33.33%;
}

.column-footer h5{
    font-family: Avenir Heavy;
    color: white;
    font-size: 25px;
    letter-spacing: 0.5;
    }

.column-footer h6{
    font-family: Avenir Light;
    color: white;
    font-size: 23px;
    letter-spacing: 0.5;
    opacity: 0.61
    }

.grid-2col{
    display: inline-block
}

img {
    padding: 0 16px 0 0
}


